/* FONTS */
@font-face {
    font-family: Outfit;
    src: url(fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-display: swap; 
}

@font-face {
    font-family: YoungSerif;
    src: url(fonts/yung-serif/YoungSerif-Regular.ttf);
    font-display: swap;
}

/* GENERAL STYLE */

p, ol, ul {
    font-family: Outfit, sans-serif; 
    line-height: 1.5; 
    font-size: 1.4rem;
}

ol, ul {
    padding-left: 1.5rem; 
    list-style-position: outside; 
}

h2 {
    color: hsl(14, 45%, 36%);
}

.simple,
.ingredients,
.instructions,
.nutrition {
    margin-left: 0;
}

.ingre-title,
.inst-title,
.nutri-title
{
    font-size: 2.5rem;
}

section + section {
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-top: 1px solid hsl(14, 45%, 80%);
}

/* Layout and spacing configurations */
body {
    background-color: hsl(27, 34%, 90%); 
}

.recipe {
    background-color: white;
    padding: 1.5rem;
    border-radius: 1.875rem;
    max-width: 50rem;
    margin: 0 auto; 
}

.recipe img {
    margin-inline: -1.5rem;
    width: calc(100% + 3rem);
    border-radius: 1rem;
}

figcaption {
    font-family: Outfit, sans-serif; 
}

.title {
    font-size: 3rem;
}

.simple {
    max-width: 100%;
    margin-top: 4.6875rem; 
}

.prep-time {
    color: hsl(332, 51%, 32%); 
    font-family: Outfit, sans-serif;
}

.preparation {
    max-width: 100%;
    margin-top: 3.125rem;
    background-color: hsl(332, 51%, 95%); 
    padding: 1.25rem;
    padding-left: 2.1875rem;
    border-radius: 15px;
    word-spacing: 5px; 
    box-sizing: border-box;
}

.preparation ul li::marker {
    color: rgb(164, 53, 53); ;
}

.ingredients {
    margin-top: 3.125rem;
}

.ingredients ul li::marker {
    color: hsl(14, 45%, 36%);
}

li {
    margin-bottom: 15px;
    text-indent: 0px;
}

.instructions {
    margin-top: 3.125rem;
}

.instructions ol li::marker {
    color: hsl(14, 45%, 36%);
}

.nutrition {
    max-width: 100%;
}

.nutrition-list div {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
    border-bottom: 1px solid rgb(164, 53, 53);
}

.nutrition-list dt {
    font-weight: 500;
}

.nutrition-list dd {
    margin: 0;
    font-weight: 500;
    color: rgb(164, 53, 53);
}

dt, dd {
    font-family: Outfit, sans-serif; 
    font-size: 1.3rem;
}

/* MOBILE FRIENDLY IMPROVEMENT */
@media (max-width: 30em) {
    .recipe {
        padding: 1rem;
        border-radius: 20px;
    }

    .title {
        font-size: 2.4rem;
    }
}




