/* FONTS */
@font-face {
    font-family: Outfit;
    src: url(fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-display: swap; 
}

@font-face {
    font-family: YoungSerif;
    src: url(fonts/yung-serif/YoungSerif-Regular.ttf);
    font-display: swap;
}

/* GENERAL STYLE */

p, ol, ul, tr, th, td {
    font-family: Outfit, sans-serif; 
    line-height: 1.5; 
    font-size: 1.4rem;
}

ol, ul {
    padding-left: 1.5rem; 
    list-style-position: outside; 
}

h2, td {
    color: hsl(14, 45%, 36%);
}

.simple,
.ingredients,
.instructions,
.nutrition {
    margin-left: 0;
}

.ingre-title,
.inst-title,
.nutri-title
{
    font-size: 2.5rem;
}

/* Layout and spacing configurations */
body {
    background-color: hsl(27, 34%, 90%); 
}

.recipe {
    background-color: white;
    padding: 1.5rem;
    border-radius: 30px;
    max-width: 50rem;
    margin: 0 auto; 
}

.recipe img {
    margin-inline: -1.5rem;
    width: calc(100% + 3rem);
    border-radius: 1rem;
}

/* img {
    max-width: 100%;
    height: auto; 
    display: block;
    border-radius: 1rem; 
} */

.title {
    font-size: 3rem;
}

.simple {
    max-width: 100%;
    margin-top: 75px; 
}

.prep-time {
    color: hsl(332, 51%, 32%); 
    font-family: Outfit, sans-serif;
}

.preparation {
    max-width: 100%;
    margin-top: 50px;
    background-color: hsl(332, 51%, 95%); 
    padding: 20px;
    padding-left: 35px;
    border-radius: 15px;
    word-spacing: 5px; 
    box-sizing: border-box;
}

.preparation ul li::marker {
    color: rgb(164, 53, 53); ;
}

.ingredients {
    margin-top: 50px;
}

.ingredients ul li::marker {
    color: hsl(14, 45%, 36%);
}

li {
    margin-bottom: 15px;
    text-indent: 0px;
}

.instructions {
    margin-top: 50px;
}

.instructions ol li::marker {
    color: hsl(14, 45%, 36%);
}

/* TABLE */
.nutrition {
    max-width: 100%;
}

table {
    width: 100%;
}

.numbers {
    color: rgb(164, 53, 53);
    font-weight: 600;
    letter-spacing: 0.02em;
}

tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    border-bottom: 1px solid rgb(164, 53, 53);
}


/* MOBILE FRIENDLY IMPROVEMENT */
@media (max-width: 480px) {
    .recipe {
        padding: 1rem;
        border-radius: 20px;
    }

    .title {
        font-size: 2.4rem;
    }
}




