/* FONTS */
@font-face {
    font-family: Outfit;
    src: url(fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-display: swap; 
}

@font-face {
    font-family: YoungSerif;
    src: url(fonts/yung-serif/YoungSerif-Regular.ttf);
    font-display: swap;
}

/* GENERAL STYLE */
:root {
    --primary-orange: hsl(14, 45%, 36%);
    --dark-red: rgb(164, 53, 53);
    --vanilla: hsl(27, 34%, 90%);
    --strong-pink: hsl(332, 51%, 32%);
    --light-pink: hsl(332, 51%, 95%);
}

p, ol, ul {
    font-family: Outfit, sans-serif; 
    line-height: 1.5; 
    font-size: 1.4rem;
}

ol, ul {
    padding-inline-start: 1.5rem; 
    list-style-position: outside; 
}

h2 {
    color: var(--primary-orange);
}

.simple,
.ingredients,
.instructions,
.nutrition {
    margin-left: 0;
}

.ingre-title,
.inst-title,
.nutri-title
{
    font-size: 2.5rem;
}

section + section {
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-top: 1px solid var(--dark-red);
}

/* Layout and spacing configurations */
body {
    background-color: var(--vanilla); 
}

.recipe {
    background-color: white;
    padding-inline: 1.5rem;
    border-radius: 1.875rem;
    max-width: clamp(20rem, 90vw, 50rem);;
    margin: 0 auto; 
}

.recipe img {
    display: block;
    width: 100%;
    border-radius: 1rem;
}

figcaption {
    font-family: Outfit, sans-serif; 
}

.title {
    font-size: 3rem;
}

.simple {
    max-width: 100%;
    margin-top: 4.6875rem; 
}

.prep-time {
    color: var(--strong-pink); 
    font-family: Outfit, sans-serif;
}

.preparation {
    max-width: 100%;
    margin-top: 3.125rem;
    background-color: var(--light-pink); 
    padding: 1.25rem;
    padding-left: 2.1875rem;
    border-radius: 1rem;
    word-spacing: 0.3125rem; 
    box-sizing: border-box;
}

.preparation ul li::marker {
    color: var(--dark-red);
}

.ingredients {
    margin-top: 3.125rem;
}

.ingredients ul li::marker {
    color: var(--primary-orange);
}

li {
    margin-bottom: 0.9rem;
    text-indent: 0px;
}

.instructions {
    margin-top: 3.125rem;
}

.instructions ol li::marker {
    color: var(--primary-orange);
}

.nutrition {
    max-width: 100%;
}

.nutrition-list div {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--dark-red);
}

.nutrition-list dt {
    font-weight: 500;
}

.nutrition-list dd {
    margin: 0;
    font-weight: 500;
    color: var(--dark-red);
}

dt, dd {
    font-family: Outfit, sans-serif; 
    font-size: 1.3rem;
}


/* MOBILE FRIENDLY IMPROVEMENT */
@media (min-width: 30.01em) {
    .recipe {
        padding: 2rem;          /* More padding on larger screens */
        border-radius: 0;       /* Remove rounding on desktop */
    }

    .title {
        font-size: 3rem;        /* Larger font on desktop */
    }
}




